html, body { 
  background-color:#000;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden !important;  
  font-family:  sans-serif;
  color:  white;
}

a {
  text-decoration: none;
  color: cyan;
}

#toolbar {
    position: absolute;

    z-index:  1000;

    height: 50px;

    width:  100%;
    top: 0px;
    left:  0px;

    display: flex;
    align-items: center;
    gap: 10px;
}

#colorTool {
    display: flex;
    align-items: center;
    gap: 5px;
}

#colorIndicator {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: red;
}


#viewer {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

.panel {
    position: absolute;
    background-color: rgba(0.0,0.0,0.0,0.5);
    padding: 10px;
    color: white;
    font-size: 10pt;
    z-index: 10000;
}

#info {
    bottom: 0px;
    left: 10px;
}

#credits {
    bottom: 0px;
    right: 10px;
}

#stats {

    top: 0px;
    right: 10px;
}

#tools {
    top: 0px;
    left: 10px;
}

#tolerance {
    -webkit-appearance: none;
    opacity: 1;
    height: 3px;
    width: 160px;
}

#tolerance::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: cyan;
    cursor: pointer;
}



#wlslider {
    border-radius: 0;
    height:3px;
    width: 160px;
}

#wlslider .noUi-handle {
    border-radius: 0;
    box-shadow: none;
    width: 10px;
    height: 10px;
    background: cyan;
    cursor: pointer;
    top:-5px;
    right:-5px;
    border: none;
}

#wlslider .noUi-handle:before {
    display:none;
}

#wlslider .noUi-handle:after {
    display:none;
}